#container {
    text-align: center;
    margin-top: 25px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

.title {
  font-size: 20px;
  margin-right: 35px;
}

.perfil {
    height: 40px;
    width: 40px;
}

.duoc-icon {
  width: 80px; /* Ajusta el ancho según tus necesidades */
  height: auto; /* Mantiene la proporción original */
  
}

  
.QR {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-left: 20%;
  width: 60%;
  height: 60%;
} 

  
.contenido{
    margin-top: 5px;
    margin: 35px;
    margin-left: 15px;
    margin-right: 15px;
}

.texto{
    text-align: center;
}


.footer{
  text-align: center;
  margin-top: 40%;
}

#username {
  margin-left: 5px;
}


