.img1{
    margin-left: 16%;
    width: 70%;
    height: 70%;
}

.duoc-icon{
    position:absolute;
    z-index: -1;
    width: 40%;
    height: 40%;
}


.btn1{
    text-align: center;

}


.footer{
    position: absolute;
    margin-top: 55%;
    margin-left: 30%;
  }

div.btn2 ion-button {
    text-transform: capitalize;
    color: black;
    text-align: left;
     
  }