<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="duoc-icon">
    <ion-img src="assets/img/duoc.jpg" ></ion-img>
  </div>
  <div>
    <br>
     <br>
    <div class="cabeza ion-padding">
      <div class="img1">
        <ion-img src="assets/img/app-logo.png" ></ion-img>
      </div>
      <ion-input label="Nueva Contraseña" label-placement="floating" type="password"  fill="solid" placeholder="Contraseña"></ion-input>
      <br/>  
      <ion-input label="Confirmar Contraseña" label-placement="floating" type="password"  fill="solid" placeholder="Confirmar Contraseña" ></ion-input>
      <br>
      <div class="btn1">
        <ion-button >Confirmar Contraseña</ion-button>
      </div>
    </div>
    <div class="btn2">
      <ion-button fill="clear" href="/login">
        <ion-icon name="arrow-back-outline" ></ion-icon>
        Volver
      </ion-button>
    </div>

  </div>
  <footer>
    <div >
        <p class="footer">Privacy Policy - Duoc Uc</p>
    </div>
  </footer>

</ion-content>