#container {
    text-align: center;
    margin-top: 25px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

.title {
  font-size: 20px;
  margin-right: 45px;
}

.perfil {
    height: 35px;
    width: 35px;
}

.duoc-icon {
  width: 80px; 
  height: auto; 
  
}

  
.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-left: 28%;
    width: 45%;
    height: 45%;
} 
  
.contenido{
    margin-top: 5px;
    margin: 35px;
    margin-left: 15px;
    margin-right: 15px;
}

.texto{
    text-align: center;
}


.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

ion-item ion-icon {
  margin-right: 20px; 
}

#username {
  margin-left: 5px;
}