#container {
    text-align: center;
    margin-top: 25px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }


/* Estilos personalizados para el encabezado */
.title {
  font-size: 20px;
}

.perfil {
    height: 30px;
    width: 30px;
}

.duoc-icon {
  width: 50px; /* Ajusta el ancho según tus necesidades */
  height: auto; /* Mantiene la proporción original */
}

/* Estilos para centrar el contenido debajo del encabezado */
ion-content {
  --ion-padding-top: 70px; /* Ajusta la distancia desde la parte superior según tus necesidades */
}

/* Evita cambios de color en el encabezado */
ion-header {
  --ion-background-color: transparent;
}

ion-toolbar {
  --background: transparent;
  --border-color: transparent;
  --box-shadow: none;
}

  
  
.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px; /* Añade un margen superior si es necesario */
    margin-left: 40%;
    
    
} 
.avatar-image {
     /* La imagen se ajustará automáticamente al ancho máximo del contenedor */
   
    width: 350%;
    height: 130%;
}
  
  
.contenido{
    margin-top: 5px;
    margin: 35px;
    margin-left: 15px;
    margin-right: 15px;
    
    
}

.texto{
    text-align: center;
}

.tabs{
     
    padding: auto;
  
}


