
.cabeza2{
    text-align: center;
    padding: 30px;
}

.img1{
    margin-left: 16%;
    width: 70%;
    height: 70%;
}

.duoc-icon{
    position:absolute;
    z-index: -1;
    width: 40%;
    height: 40%;
}

.btn1{
    text-align: center;

}

.footer{
    position: absolute;
    margin-top: 50%;
    margin-left: 28%;
  }