
.cabeza2{
    text-align: center;
    padding: 15px;
}

.img1{
    margin-left: 16%;
    width: 70%;
    height: 70%;
}

.duoc-icon{
    position:absolute;
    z-index: -1;
    width: 40%;
    height: 40%;
}

.btn1{
    text-align: center;

}

.footer{
  position: sticky;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 32%;
}

.buttons {
  transform: scale(1); 
  transition: transform 0.7s; 
}

.buttons:hover {
  transform: scale(1.04); 
}

div.btn2 ion-button {
  text-transform: capitalize;
  text-align: left;
  text-decoration: underline;
   
}
