<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="duoc-icon">
    <ion-img src="assets/img/duoc.jpg" ></ion-img>
  </div>
  <div>
    <br>
     <br>
    <div class="cabeza ion-padding">
      <div class="img1">
        <ion-img src="assets/img/app-logo.png" ></ion-img>
      </div>
      <ion-input label="Nombre de usuario" label-placement="floating" fill="solid" placeholder="Usuario" [(ngModel)]="userLoginModal.username"></ion-input>
      <br/>  
      <ion-input label="Contraseña" label-placement="floating" type="password"  fill="solid" placeholder="Contraseña" [(ngModel)]="userLoginModal.password"></ion-input>
      <div class="cabeza2">
        <a href="">Olvidaste tu Contraseña?</a>
      </div>
      <div class="btn1">
        <ion-button (click)="userLogin(userLoginModal)">Ingresar</ion-button>
      </div>
    </div>  

  </div>
  <footer>
    <div >
        <p class="footer">Privacy Policy - Duoc Uc</p>
    </div>
  </footer>

</ion-content>
