
.cabeza2{
    text-align: center;
    padding: 30px;
}

.img1{
    width: 130px;
    height: 30px;
    margin-right: 250px;
}

.img2{
    margin-top: 30px;
}

.btn1{
    text-align: center;
    height: 180px; 
    
    
}
.footer{
    text-align: center;  
}