


.perfil {
    height: 30px;
    width: 30px;
}

.no-classes-message {
  font-size: 16px; 
  margin-top: 60%; 
}

.title {
    font-size: 20px;
    margin-left: 10px;
}

.duoc-icon {
  width: 80px; 
  height: auto; 
  
}

  
.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-left: 25%;
    width: 50%;
    height: 50%;
} 

.texto{
    text-align: center;
    font-size: 17px;
}


.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

ion-item ion-icon {
  margin-right: 20px; 
}

.username {
  font-size: 16px;
  margin-left: 5px;
  margin-top: 10px;
}

.buttons {
  transform: scale(1); 
  transition: transform 0.7s; 
}

.boton-qr {
  text-transform: capitalize;
  font-size: 24px; 
  --ion-icon-width: 36px; 
  --ion-icon-height: 36px;
}

.buttons:hover {
  transform: scale(1.04); 
}


.QR {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-left: 20%;
  width: 60%;
  height: 60%;
}

.border-hex-naranja {
  border: 3px solid;
  border-color: #fdbe34;
}

.subrayar {
  display: inline-block;
  border-bottom: 2px solid;
  border-color: #fdbe34;
  border-radius: 5px;
}



.bg-hex-azul {
  background-color: #10316b;
  background-image: linear-gradient(to bottom, #0e2f68, #4ab7e2);
}

.bg-hex-naranja {
  background-color: #fdbe34;
  background-image: linear-gradient(to right, #fcbb2e, #eece76);
  border-radius: 3px;
}