<ion-header [translucent]="true">
  <ion-toolbar class="ion-align-items-center">
    <ion-buttons slot="start">
      <ion-img src="assets/img/duoc.jpg" class="duoc-icon"></ion-img>
    </ion-buttons>
    <ion-title class="title ion-text-center">Profesor</ion-title>
    <ion-buttons slot="end">
      <ion-avatar class="perfil">
        <ion-img src="assets/img/profesor.png"></ion-img>
      </ion-avatar>
      <p class="username">{{ userInfoReceived?.username}}</p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">perfil</ion-title>
    </ion-toolbar>
  </ion-header>

<div class="container">
  <div class="barra">
    <ion-segment value="perfil" (ionChange)="toggleContent($event)">
      <ion-segment-button class="buttons" value="asistencia">
        <ion-label>Asistencia</ion-label>
      </ion-segment-button>
      <ion-segment-button class="buttons" value="perfil">
        <ion-label>Perfil</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
</div>

<div *ngIf="showPerfilContent">
  <div class="container">
    <div class="cabeza ion-padding">
      <ion-avatar class="avatar-container border-hex-naranja">
        <img alt="Silhouette of a person's head" src="assets/img/profesor.png" class="avatar-image" />
      </ion-avatar>
    </div>
  </div>
  <div class="container texto">
    <br>
    <ion-label #label2 class="texto" >Bienvenido {{ userInfoReceived?.name }} </ion-label>
</div>
<br>
<br>
  <div class="contenido">
    <ion-item class="buttons" href="#">
      <ion-icon name="shield"></ion-icon>
      <ion-label class="le">Privacidad</ion-label>
    </ion-item>
    <ion-item class="buttons" href="#">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Mensajes</ion-label>
    </ion-item>
    <ion-item class="buttons" href="#">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label>Alertas</ion-label>
    </ion-item>
    <ion-item class="buttons" href="#">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Modificar perfil</ion-label>
    </ion-item>
    <ion-item class="buttons" href="#">
      <ion-icon name="log-out"></ion-icon>
      <ion-label >Cerrar sesion</ion-label>
    </ion-item>
  </div>
</div>
<div *ngIf="showAsistenciaContent">
  <ion-list>
    <ng-container *ngIf="clases && clases.length > 0; else noClasses">
      <ion-item-sliding *ngFor="let clase of clases">
        <ion-item>
          <ion-label>
            <div class="ion-text-center">{{ clase.asignaturas?.nombre_asignatura }}</div>
            <br>
            <p>Fecha: {{ clase.fecha }}</p>
            <p>Hora de inicio: {{ clase.hora_inicio }}</p>
            <p>Hora final: {{ clase.hora_final }}</p>
          </ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="medium">
            <ion-icon slot="icon-only" name="qr-code-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
    <ng-template #noClasses>
      <div class="ion-text-center no-classes-message">No hay clases registradas.</div>
    </ng-template>
  </ion-list>
  
<footer class="footer ion-text-center">
      <p>Privacy Policy - Duoc Uc</p>
</footer>

